
<section class="sec-sponsors" id="Guides">
  <h3>Ghid</h3>
  <p>
    Documentul-ghid se află aici: <a href="https://www.gitbook.com/book/rails-girls-chisinau/course-guides/details"></a>
  </p>
  <br/>
  <p>
    Vă urăm succes :)
  </p>
</section>