
<section class="sec-sponsors" id="Guides">
  <h3>Ghid</h3>
  <p>
    Documentul-ghid se află aici: <a href="https://rails-girls-chisinau.gitbooks.io/course-guides/content/"></a>
  </p>
  <br/>
  <p>
    Vă urăm succes :)
  </p>
</section>